.sidebar {
  transition: margin 0.2s ease-in-out;
}
.sidebar-category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: 100vh;
}
.sidebar-category a {
  text-decoration: none;
  padding: 10px;
  color: #777;
}
.sidebar-category a:hover {
  background-color: #aaa;
  color: #eee;
}