.dropdown-component{
    background: transparent;
    border: none;
    outline: none!important;
    color: #000;
}
.dropdown-component:hover{
    background: transparent;
    color: #000;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background: transparent;
    color: #000000;
    outline: 0!important;
}
.dropdown-component:focus{
    background: transparent;
    color: #000;
    outline: 0!important;

}